{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="page-title">Lista de Productos</h1>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Categoría</th>
                        <th>Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    {% if productos is empty %}
                        <tr>
                            <td colspan="7">No hay productos disponibles.</td>
                        </tr>
                    {% else %}
                        {% for producto in productos %}
                            <tr>
                                <td>{{ producto.id }}</td>
                                <td>{{ producto.name }}</td>
                                <td>{{ producto.description }}</td>
                                <td>{{ (producto.price / 100) | number_format(2, '.', '') }}€</td>
                                <td>{{ producto.stock }}</td>
                                <td>{{ producto.categoria.name }}</td>
                                <td>
                                    {% if producto.imagenUrl %}
                                        <img src="{{ asset('build/images/' ~ producto.imagenUrl) }}" alt="{{ producto.name }}" width="100">
                                    {% else %}
                                        <span>No disponible</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('app_carrito_agregar', { id: producto.id }) }}" class="btn btn-primary">
                                    Comprar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
